/* Add a black background color to the top navigation */
.Title-navbar {
  background-color: darkred;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.Title-navbar h1 {
  float: left;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.Title-logo {
  float: left;
  padding: 10px 5px;
  height: 50px;
  width: 50px;
  /* Prevents the mouse from turning into a pointer when hovered over. */
  pointer-events: none;
  /* Ensures that the logo doesn't get selected by the user's cursor. */
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* TODO: Add mobile view, maybe center logo & title */

@media (prefers-reduced-motion: no-preference) {
  .Title-logo {
    animation: Title-logo-spin infinite 25s linear;
  }
}

@keyframes Title-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
